.conversation-switcher {
  margin-bottom: 15px;
}

.conversation-switcher select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 300px;
  margin-left: 10px;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 85vh;
}

.chat-header {
  padding: 10px;
}

.messages-container {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  margin-right: 200px;
}

.message {
  display: flex;
  margin-bottom: center;
  margin-bottom: 10px;
}

.message-right {
  justify-content: flex-end;

}

.message-left .message-bubble {
  justify-content: flex-start;
  background-color: #4675a4;
  color: #f1f1f1;
  }

.message-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 10px;
}

.message-content {
  display: flex;
  flex-direction: column;
}

.message-username {
  font-weight: bold;
  margin-bottom: 5px;
}

.message-bubble {
  background-color: #286099;
  border-radius: 15px;
  padding: 10px;
  max-width: 60%;
  word-wrap: break-word;
  text-align: left;
  color: #f1f1f1;
}

.message-bubble strong {
  display: block;
}

.input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
  border-top: 1px solid #ccc;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 25%;
  width: 50%;
  z-index: 1000;
  
}

.input-field {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.send-button {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.delete-icon {
  cursor: pointer;
  color: red;
}

.users-container {
  width: 200px;
  background-color:#4675a4;
  border-left: 1px solid #ccc;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 10px;
  overflow-y: auto;
}

.users-container h3 {
  text-align: center;
  margin-bottom: 10px;
  color: #fff;
}

.users-container ul {
  list-style-type: none;
  padding: 0;
}

.users-container li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #fff;
}

.user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.invite-button {
  margin-left: auto;
  padding: 5px 10px;
  background-color: #286099;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 12px;
}

.user-search {
  border-radius: 10px;
  padding: 5px;
}